<!-- menu.component.html -->
<div class="menu-preview-wrapper">
  <div class="language-selector">
    <button (click)="toggleLanguageMenu()" class="language-icon">
      <img src="assets/images/icons/globe.png" alt="Languages" />
    </button>
  
    <ul *ngIf="showLanguageMenu" class="language-menu">
      <li (click)="changeLanguage('tr')">
        <img src="assets/flags/tr.png" /> Türkçe
      </li>
      <li (click)="changeLanguage('en')">
        <img src="assets/flags/en.png" /> English
      </li>
      <li (click)="changeLanguage('bg')">
        <img src="assets/flags/bg.png" /> Български
      </li>
    </ul>
  </div>
  
  
  <div class="kategori-grid">
    <div 
      class="kategori-karti" 
      *ngFor="let kategori of menuVerileri"
      (click)="kategoriSec(kategori)"
      [style.backgroundImage]="'url(/assets/images/' + kategori.resim + ')'">
      <div class="kategori-baslik">{{ kategori.kategori }}</div>
    </div>
  </div>
</div>
