:host {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('/assets/images/background1.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.menu-button {
  font-size: 24px;
  font-weight: bold;
  padding: 12px 24px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
