.footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    margin-top: auto;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
  }
  
  .footer small {
    display: block;
    color: #aaa;
    font-size: 1rem;
    margin-top: 4px;
  }
  